body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.897)
}

img
{
    width: 25rem;
    height: 15rem;
}

.masote-trite
{
    display: block;
}

.masote
{
    display: none;
}

#masote-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interacoes
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#lista-tarefas-container
{
    display: flex;
    flex-direction: column;
}